.extended-forecast {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.75rem;
  color: #2f5d8a;
  font-weight: 500;
}

.accordian-wrapper {
  margin-top: 1rem;
}

.daily-item {
  background-color: rgba(123, 152, 178, 0.1);
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 5px 20px;
}

.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  color: #757575;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}
